@font-face {
    font-family: arcadeClassic;
    src: url('/resources/fonts/arcadaclassic.ttf');
}

#gameSpace {
    border: 1px solid black;
    position: absolute;
    margin: 0 auto;
    background-size: cover;
    background: url('/resources/background/space.png');
}

.img {
    display: none;
}

.wrapper {
    position: relative;
}

#player-form {
    font-family: arcadeClassic;
    position: absolute;
    text-align: center;
    left: 315px;
    top: 420px;
    display: none;
}

#score {
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}

#high-score {
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}

.title {
    font-family: arcadeClassic;
    color: darkred;
    margin: 0cm;
}

#score-board {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    position: absolute;
    height: 55px;
    width: 100px;
    background: rgba(35, 170, 129, 0);
    left: 80px;
    z-index: 1;
}

#record {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    height: 55px;
    width: 180px;
    background: rgba(35, 170, 129, 0);
    position: absolute;
    z-index: 1;
    left: 525px;
}

#lives {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    height: 60px;
    width: 250px;
    background: rgba(35, 170, 129, 0);
    position: absolute;
    z-index: 1;
    bottom: -800px;
    font-family: arcadeClassic;
}

#scores {
    font-family: arcadeClassic;
    font-size: x-large;
    background: rgba(35, 170, 129, 0);
    top: 330px;
    left: 280px;
    color: darkred;
    width: 350px;
    position: absolute;
    z-index: 1;
    display: none;
}