#gameSpace {
  
  border: 1px solid black;

  background-size: cover;
  box-sizing: border-box;
  background: url('/Users/Caleb/Development/code/static-shooter-frontend/resources/background/space.png');
}
.img {
  display: none;
}