@font-face {
    font-family: arcadeClassic;
    src: url('/Users/Caleb/Development/code/static-shooter-frontend/resources/fonts/arcadaclassic.ttf');
}

#gameSpace {
    border: 1px solid black;
    position: absolute;
    background-size: cover;
    background: url('/Users/Caleb/Development/code/static-shooter-frontend/resources/background/space.png');
}

.img {
    display: none;
}

.wrapper {
    position: relative;
    /* width: 800px;
    height: 800px; */
}


/* #player-name {
    font-family: arcadeClassic;
    position: absolute;
    color: darkred;
    width: 150px;
    height: 20px;
    text-align: center;
    font-size: x-large;
    background: rgba(35, 170, 129, 0);
    border: none;
    left: 315px;
    top: 420px;
    z-index: 0;
} */

#player-form {
    position: absolute;
    text-align: center;
    border: none;
    left: 315px;
    top: 420px;
    display: none;
}

#score {
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}

#high-score {
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}

.title {
    font-family: arcadeClassic;
    color: darkred;
    margin: 0cm;
}

#score-board {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    position: absolute;
    height: 50px;
    width: 100px;
    background: rgba(35, 170, 129, 0);
    left: 80px;
    z-index: 1;
}

#record {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    height: 50px;
    width: 400px;
    background: rgba(35, 170, 129, 0);
    position: absolute;
    z-index: 1;
    left: 420px;
}

#lives {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    height: 60px;
    width: 250px;
    background: rgba(35, 170, 129, 0);
    position: absolute;
    z-index: 1;
    bottom: -780px;
    font-family: arcadeClassic;
}

#hi-scores {
    font-family: arcadeClassic;
    background: rgba(35, 170, 129, 0);
    bottom: -400px;
    left: 290px;
    color: darkred;
    width: 250px;
    position: absolute;
    z-index: 1;
    display: none;
}


/* #baddie1-a {
    transform: rotate(90deg);
} */