@font-face {
    font-family: arcadeClassic;
    src: url('/resources/fonts/arcadaclassic.ttf');
}

/* /Users/Caleb/Development/code/projects/shooter/static-shooter-frontend  */

#gameSpace {
    font-family: arcadeClassic;
    border: 1px solid black;
    position: absolute;
    background-size: cover;
    background: url('/resources/background/space.jpg');
}

.img {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inner-wrapper{
    height: 900px;
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#ships{
    height: 60px;
}

#score {
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}

#high-score{
    font-family: arcadeClassic;
    color: whitesmoke;
    margin: 0cm;
}
#top-score{
    width:220px
}

.title {
    font-family: arcadeClassic;
    color: darkred;
    margin: auto;
}

#score-board {
    align-self: flex-start;
    text-align: center;
    position: absolute;
    height: 65px;
    width: 100px;
    background: rgba(35, 170, 129, 0);
    z-index: 1;
}

#record {
    align-self: flex-end;
    text-align: center;
    height: 65px;
    width: 220px;
    background: rgba(35, 170, 129, 0);
    position: absolute;
    z-index: 1;
}

#lives {
    align-self: flex-end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    height: 60px;
    background: rgba(35, 170, 129, 0);
    position: relative;
    z-index: 1;
    font-family: arcadeClassic;
}

.inner-wrapper2{
    height: 900px;
    width: 800px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 45% 55%;
}

.inner-container{
    grid-row: 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 8% auto;
}

.form-wrapper{
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 20%;
    grid-row: 2;
    grid-column: 2 / 3;
}


input{
    text-align: center;
}


#player-form {
    grid-row: 2;
    grid-column: 2 / 3;
    font-family: arcadeClassic;
    position: relative;
    text-align: center;
    display: none;
}
#scores-list{
    padding-inline-start: 0px;
    list-style: none;
}

#top-scores{
    font-size: 40px;
}

#scores {
    text-align: center;
    grid-row: 3;
    font-family: arcadeClassic;
    font-size: x-large;
    background: rgba(35, 170, 129, 0);
    color: darkred;
    position: relative;
    z-index: 1;
    display: none;
}